<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">About</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					About<img id="loadingImg" src="img/ajax-loader.gif"
						style="display: none;margin-left:10px" />
				</div>
				<div class="panel-body">
					<fieldset id="version-container" class="dbmgr-fieldset-table" style="width: 90%">
						<ul style="padding: 0px; width: 90%">
							<li class="dbmgr-form-item-row" style="width: 90%"><label
								class="dbmgr-form-item-cell-label"
								style="vertical-align: top; text-align: right;">System
									Version : </label> <input class="dbmgr-form-item-cell-label"
								style="width: 600px; border: none;" readonly id="system-version"
								maxlength="255"></li>
							<li class="dbmgr-form-item-row" style="width: 90%"><label
								class="dbmgr-form-item-cell-label"
								style="vertical-align: top; text-align: right;">EsgynDB
									Manager Version : </label> <input class="dbmgr-form-item-cell-label"
								style="width: 600px; border: none;" readonly id="dbmgr-version"
								maxlength="255"></li>
						</ul>
					</fieldset>
					<label id="errorText" class="dbmgr-error-text"></label>
					<div style="display: inline-flex">
						<img id="title-img" src="img/esgyn-logo.png" alt="logo" />
					</div>
					<div>
						<p class="text-muted" style="margin-top: 5px;">&copy Copyright
							2015 Esgyn Corporation</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>