<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-toolbar">
					<div class="btn-group" style="margin-right: 5px">
						<label for="refreshInterval"
							style="display: inline-block; margin-top: 5px; font-size: 14px; font-weight: normal">Auto-Refresh: </label>
						<select class="form-control" id="refreshInterval"
							style="display: inline-block; width: 110px; font-size: 12px; height: 30px; margin-top: 10px; padding: 2px">
							<option value="0.5">Every 30 sec</option>
							<option value="1">Every 1 min</option>
							<option value="5">Every 5 min</option>
							<option value="10">Every 10 min</option>
							<option id="customTimeRange" value="">OFF</option>
						</select>
					</div>

					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 10px;">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown" style="height: 30px;">
							Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a id="refreshAction">Refresh</a></li>
						</ul>
					</div>
				</div>
			</div>
			<h2 class="page-header">Active Workloads</h2>
			<img id="loadingImg" src="img/ajax-loader.gif" />
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">

				<div class="panel-body">
					<div id="active-result-container" class="table-responsive"></div>
					<label id="active-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
</div>
