<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-toolbar">
					<div class="btn-group" style="margin-right: 5px">
						<label for="refreshInterval"
							style="display: inline-block; margin-top: 5px; font-size: 14px; font-weight: normal">Auto-Refresh: </label>
						<select class="form-control" id="refreshInterval"
							style="display: inline-block; width: 110px; font-size: 12px; height: 30px; margin-top: 10px; padding: 2px">
							<option value="0.5">Every 30 sec</option>
							<option value="1">Every 1 min</option>
							<option value="5">Every 5 min</option>
							<option value="10">Every 10 min</option>
							<option id="customTimeRange" value="">OFF</option>
						</select>
					</div>

					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 10px;">
						<button type="button"
							class="btn btn-primary btn-xs dropdown-toggle"
							data-toggle="dropdown" style="height: 30px;">
							Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a id="refreshAction">Refresh</a></li>
							<li><a id="cancelAction">Cancel</a></li>
						</ul>
					</div>
				</div>
			</div>
			<h3 class="page-header">Active Workloads</h3>
 		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Active Queries <img id="loadingImg" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="active-result-container" class="table-responsive"></div>
					<label id="active-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="cancel-query-dialog" tabindex="-1" role="dialog"
		aria-labelledby="cancel-query-dialog-label" data-backdrop="static"
		data-keyboard="false">
		<div class="modal-dialog" role="document" style="width:800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="cancel-query-dialog-label">Confirm Query Cancel Request</h4>
				</div>
				<div class="modal-body">
					<form id="wprofile-delete-form">
                    Are you sure you want to cancel the query <label id="cancel-query-id"></label>  ? 
					</form>
				</div>
				<div class="modal-footer">
					<button id="cancel-query-yes-btn" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>	
</div>
