<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Create Library</h2>
		</div>
	</div>
	<div class="dbmgr-tools-form" style="padding-left:30px;padding-top:30px">
		<form>
		    <label >Schema Name:</label>
		    <input id="shcema_name" type="text" style="width:300px;">
		    <div style="height:10px;"></div>
		    <label >Library Name<span style="color:red">*</span>:</label>
		    <input id="library_name" type="text" style="width:300px;">
		    <labe id ="library_name_error" hidden><span style="color:red">Library name cannot be NULL</span></labe>
		    <div style="height:10px;"></div>
			<div>
				<div style="float: left">
					<label for="file_name">Code File Name<span style="color:red">*</span>:</label>
					<input id="file_name"type="text" style="width:280px;" disabled>
				</div>
				<div style="float: left;width:20px">
					<a href="javascript:;" class="file">
					<input type="file" name="" id="file"></a>
				</div>     
		    </div>	
		    
		    <div style="height:40px;"></div>
		    <label></label><input id="create_btn" type="button" value="Create" class ="submit btn btn-primary" disabled>
		    <img id="loading-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
		    <label style="width: 130px;"></label><input id="clear_btn" type="button" value="Clear" class ="submit btn btn-primary" >
		    <div style="height:10px;"></div>
		    
		</form>
	</div>
</div>
