<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-toolbar">

					<div class="btn-group" style="margin-right:5px">
						<label id="timeRangeLabel" for="timeRange"
							style="display: inline-block; margin-top: 5px; font-size: 14px; font-weight: normal">Time Range</label>
						<select class="form-control" id="timeRange"
							style="display: inline-block; width: 110px; font-size: 12px; height: 30px; margin-top: 10px; padding: 2px">
							<option value="1">Last 1 hour</option>
							<option value="6">Last 6 hours</option>
							<option value="24">Last 1 day</option>
							<option value="128">Last 1 week</option>
							<option value="0">Custom</option>
						</select>
					</div>
					<div class="btn-group" style="margin-right:5px">
						<label for="refreshInterval"
							style="display: inline-block; margin-top: 5px; font-size: 14px; font-weight: normal">Auto-Refresh</label>
						<select class="form-control" id="refreshInterval"
							style="display: inline-block; width: 110px; font-size: 12px; height: 30px; margin-top: 10px; padding: 2px">
							<option value="0.5">Every 30 sec</option>
							<option value="1">Every 1 min</option>
							<option value="5">Every 5 min</option>
							<option value="10">Every 10 min</option>
							<option id="customTimeRange" value="">OFF</option>
						</select>
					</div>
					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 10px;">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown" style="height: 30px;">
							Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a id="refreshAction">Refresh</a></li>
						</ul>
						<br>
					</div>
				</div>
			</div>
			<h2 class="page-header">Dashboard</h2>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Services <img
						id="services-spinner" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="services-result-container" class="table-responsive"></div>
					<label id="services-error-text" style="color: red"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Transaction Counts<img
						id="transactionsSpinner" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="transactions-response-chart" style="height: 200px;"></div>
					<label id="transactions-error-text" style="color: red"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Canary Response<img
						id="canarySpinner" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="canary-response-chart" style="height: 200px;"></div>
					<label id="canary-error-text" style="color: red"></label>
				</div>
			</div>		
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Nodes <img
						id="nodes-spinner" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="nodes-result-container" class="table-responsive"></div>
					<label id="nodes-error-text" style="color: red"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> IO Waits<img
						id="iowaitSpinner" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="iowait-chart" style="height: 200px;"></div>
					<label id="iowait-error-text" style="color: red"></label>
				</div>
			</div>		
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i>Disk Space Used %<img
						id="spaceusedSpinner" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="spaceused-chart" style="height: 200px;"></div>
					<label id="spaceused-error-text" style="color: red"></label>
				</div>
			</div>		
		</div>
	</div>
	<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog"
		aria-labelledby="filterDialogLabel">
		<div class="modal-dialog" role="document" style="overflow:auto;height:700px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="filterDialogLabel">Custom Time Range</h4>
				</div>
				<div class="modal-body">
					<form id="filter-form">
						<div class="form-group">
							<label for="filter-start-time" class="control-label">Start
								Time : </label>
							<div class='input-group date' id='startdatetimepicker'>
								<input type='text' class="form-control" id="filter-start-time"
									name="filter-start-time" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="filter-end-time" class="control-label">End
								Time : </label>
							<div class='input-group date' id='enddatetimepicker'>
								<input type='text' class="form-control" id="filter-end-time"
									name="filter-end-time" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label id="filter-error-text" class="control-label"
								style="color: red"></label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<input id="filterApplyButton" class="submit btn btn-primary"
						type="submit" value="Apply">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

