<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-toolbar">

					<div class="btn-group" style="margin-right: 5px">
						<label id="timeRangeLabel" for="timeRange"
							style="display: inline-block; margin-top: 5px; font-size: 14px; font-weight: normal">Time
							Range</label> 
						<select class="form-control" id="timeRange"
							style="display: inline-block; width: 110px; font-size: 12px; height: 30px; margin-top: 10px; padding: 2px">
							<option value="1">Last 1 hour</option>
							<option value="6">Last 6 hours</option>
							<option value="24">Last 1 day</option>
							<option value="128">Last 1 week</option>
							<option value="0">Custom</option>
						</select>
					</div>
					<div class="btn-group" style="margin-right: 5px">
						<label for="refreshInterval"
							style="display: inline-block; margin-top: 5px; font-size: 14px; font-weight: normal">Auto-Refresh: </label>
						<select class="form-control" id="refreshInterval"
							style="display: inline-block; width: 110px; font-size: 12px; height: 30px; margin-top: 10px; padding: 2px">
							<option value="0.5">Every 30 sec</option>
							<option value="1">Every 1 min</option>
							<option value="5">Every 5 min</option>
							<option value="10">Every 10 min</option>
							<option id="customTimeRange" value="">OFF</option>
						</select>
					</div>
					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 10px;">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown" style="height: 30px;">
							Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a id="refreshAction">Refresh</a></li>
						</ul>
						<br>
					</div>
				</div>
			</div>
			<h2 class="page-header">Dashboard</h2>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i></i> Services <img
						id="services-spinner" src="img/ajax-loader.gif" style="padding-left:2px"/>
				</div>
				<div class="panel-body">
					<div id="services-result-container"
						class="dbmgr-dashboard-table table-responsive"
						style="overflow: auto"></div>
					<label id="services-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4 dbmgr-ent">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Transaction Counts<img
						id="transactions-spinner" src="img/ajax-loader.gif" style="padding-left:2px"/>
				</div>
				<div class="panel-body">
					<div id="transactions-chart" class="dbmgr-graph"></div>
					<label id="transactions-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4 dbmgr-ent">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-bar-chart-o fa-fw"></i> Canary Response<img
						id="canary-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
				</div>
				<div class="panel-body">
					<div id="canary-chart" class="dbmgr-graph"></div>
					<label id="canary-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-eq-height">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class=""></i> Nodes <img
						id="nodes-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="nodes-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw"
								data-toggle="tooltip" data-placement="left" title="Node Status"
								style="height: 30px; width: 30px"></button>
						</div>
				</div>
				<div class="panel-body">
					<div id="nodes-result-container" class="table-responsive"
						style="height: 150px; overflow: auto"></div>
					<label id="nodes-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4 dbmgr-ent">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> IO Waits<img
							id="iowaits-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="iowaits-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw"
								data-toggle="tooltip" data-placement="left" title="IO Waits per Node"
								style="height: 30px; width: 30px"></button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div id="iowaits-chart" class="dbmgr-graph"></div>
					<label id="iowaits-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4 dbmgr-ent">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> Disk Space Used %<img
							id="useddiskspace-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="useddiskspace-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw "
								data-toggle="tooltip" data-placement="left" title="Space usage by Node"
								style="height: 30px; width: 30px"></button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div id="useddiskspace-chart" class="dbmgr-graph"></div>
					<label id="useddiskspace-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-eq-height dbmgr-ent">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> GC Time<img
							id="jvmgctime-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="jvmgctime-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw "
								data-toggle="tooltip" data-placement="left" title="GC Time per Node"
								style="height: 30px; width: 30px"></button>
						</div>	
					</div>					
				</div>
				<div class="panel-body">
					<div id="jvmgctime-chart" class="dbmgr-graph"></div>
					<label id="jvmgctime-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4 dbmgr-ent">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> Regionserver Memory Use<img
							id="regionservermemory-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="regionservermemory-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw "
								data-toggle="tooltip" data-placement="left" title="Regionserver Memory Use per Node"
								style="height: 30px; width: 30px"></button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div id="regionservermemory-chart" class="dbmgr-graph"></div>
					<label id="regionservermemory-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
		<div class="col-lg-4 dbmgr-ent">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> Memstore Size <img
							id="memstoresize-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="memstoresize-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw "
								data-toggle="tooltip" data-placement="left" title="Memstore Size by Node"
								style="height: 30px; width: 30px"></button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div id="memstoresize-chart" class="dbmgr-graph"></div>
					<label id="memstoresize-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-eq-height dbmgr-ent">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> CPU Load<img
							id="cpuload-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="cpuload-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw "
								data-toggle="tooltip" data-placement="left" title="CPU Busy Per Node"
								style="height: 30px; width: 30px"></button>
						</div>	
					</div>					
				</div>
				<div class="panel-body">
					<div id="cpuload-chart" class="dbmgr-graph"></div>
					<label id="cpuload-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>	
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> Free Memory<img
							id="freememory-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="freememory-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw "
								data-toggle="tooltip" data-placement="left" title="Free Memory Per Node"
								style="height: 30px; width: 30px"></button>
						</div>	
					</div>					
				</div>
				<div class="panel-body">
					<div id="freememory-chart" class="dbmgr-graph"></div>
					<label id="freememory-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>	
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-toolbar">
						<i class="fa fa-bar-chart-o fa-fw"></i> Network IO<img
							id="network-io-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
						<div class="btn-group pull-right">
							<button id="network-io-drilldown-btn" type="button"
								class="btn btn-default btn-xs fa fa-search-plus fa-fw "
								data-toggle="tooltip" data-placement="left" title="Network IO Per Node"
								style="height: 30px; width: 30px"></button>
						</div>	
					</div>					
				</div>
				<div class="panel-body">
					<div id="network-io-chart" class="dbmgr-graph"></div>
					<label id="network-io-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>			
	</div>
	<div class="modal fade" id="metricsDialog" role="dialog"
		aria-labelledby="metricsDialogLabel" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document"
			style="height: 1200px; width: 1200px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="metricsDialogLabel">Metric Details</h4>
					<img id="metrics-drilldown-spinner" src="img/ajax-loader.gif" style="padding-left:2px" />
				</div>
				<div class="modal-body">
					<form id="metrics-form">
						<div id="metrics-drilldown-chart" class="dbmgr-drilldown-graph"></div>
						<div id="grid-drilldown-container" class="table-responsive"
						style="overflow: auto"></div>
						<label id="metrics-drilldown-error-text" class="dbmgr-error-text"></label>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog"
		aria-labelledby="filterDialogLabel" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document"
			style="overflow: auto; height: 800px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="filterDialogLabel">Custom Time
						Range</h4>
				</div>
				<div class="modal-body">
					<form id="filter-form">
						<div class="form-group">
							<label for="filter-start-time" class="control-label">Start
								Time : </label>
							<div class='input-group date' id='startdatetimepicker'>
								<input type='text' class="form-control" id="filter-start-time"
									name="filter-start-time" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="filter-end-time" class="control-label">End
								Time : </label>
							<div class='input-group date' id='enddatetimepicker'>
								<input type='text' class="form-control" id="filter-end-time"
									name="filter-end-time" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label id="filter-error-text" class="control-label" class="dbmgr-error-text"></label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<input id="filterApplyButton" class="submit btn btn-primary"
						type="submit" value="Apply">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>

