<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-group"
					style="margin-bottom: 10px; margin-top: 10px;">
							<button type="button"
								class="btn btn-primary btn-xs dropdown-toggle"
					data-toggle="dropdown"  style="height: 30px;">
					Actions <span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" role="menu">
						<li><a id="refreshAction">Refresh</a></li>
						<li><a id="pstackAction">Process Stack</a></li>
					</ul>
				</div>
			</div>
			<h2 class="page-header">DCS Servers</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					DCS Summary <img id="summaryloadingImg" src="img/ajax-loader.gif" />

				</div>
				<div class="panel-body">
					<div id="dcs-summary-container"></div>
					<label id="dcs-summary-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Master Executor Processes <img id="loadingImg" src="img/ajax-loader.gif" />

				</div>
				<div class="panel-body">
					<div id="dcs-result-container" class="table-responsive"></div>
					<label id="dcs-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="pStackDialog" tabindex="-1" role="dialog"
		aria-labelledby="pStackDialogLabel">
		<div class="modal-dialog" role="document" style="width:1000px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="pStackDialogLabel">Process Stack</h4>
					<img id="pstackLloadingImg" src="img/ajax-loader.gif" />
				</div>
				<div class="modal-body">
					<textarea id="pStackContainer" rows="25" cols="900"
						class="textarea" style="font-size:14px;width:100%" readonly> </textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>				
			</div>
		</div>
	</div>	
</div>
