<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Download Files</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Select <img id="loadingImg" src="img/ajax-loader.gif" />
					<div class="pull-right">
						<div class="btn-group">
							<button type="button"
								class="btn btn-default btn-xs dropdown-toggle"
								data-toggle="dropdown">
								Actions <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">
								<li><a id="refreshAction" href="#">Refresh</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<label id="errorText" style="color: red">Work in progress
						....</label>
				</div>
			</div>
		</div>
	</div>
</div>
