<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-toolbar">
					<div class="btn-group" 
						style="margin-bottom: 10px; margin-top: 10px;">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown" style="height: 30px;">
							Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a id="refreshAction">Refresh</a></li>
							<li><a id="cancelAction">Cancel</a></li>
						</ul>
					</div>
				</div>
			</div>
			<h2 class="page-header">Query Detail</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Summary <img id="loadingImg" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<fieldset class="dbmgr-fieldset-table" style="width: 90%">
						<ul style="padding: 0px; width: 90%">
							<li class="dbmgr-form-item-row" style="width: 90%"><label
								class="dbmgr-form-item-cell-label" style="vertical-align: top;">Query
									ID</label> <input class="dbmgr-form-item-cell-label"
								style="width: 700px; border: none;" readonly id="query-id"
								maxlength="255"></li>
							<li class="dbmgr-form-item-row dbmgr-query-details" style="width: 90%"><label
								class="dbmgr-form-item-cell-label" style="vertical-align: top;">Status</label>
								<input class="dbmgr-form-item-cell-label"
								style="width: 600px; border: none;" readonly id="query-status"
								maxlength="25"></li>
							<li class="dbmgr-form-item-row dbmgr-query-details" style="width: 90%"><label
								class="dbmgr-form-item-cell-label" style="vertical-align: top;">Start
									Time</label> <input class="dbmgr-form-item-cell-label"
								style="width: 600px; border: none;" readonly
								id="query-start-time" maxlength="25"></li>
							<li class="dbmgr-form-item-row dbmgr-query-details" style="width: 90%"><label
								class="dbmgr-form-item-cell-label" style="vertical-align: top;">End
									Time</label> <input class="dbmgr-form-item-cell-label"
								style="width: 700px; border: none;" readonly id="query-end-time"
								maxlength="25"></li>
							<li class="dbmgr-form-item-row dbmgr-query-details" style="width: 90%"><label
								class="dbmgr-form-item-cell-label" style="vertical-align: top;">Query
									Text</label> <textarea id="query-text" readonly name="TextMessage"
									spellcheck="false" rows="5" readonly class="textarea"
									style="width: 95%; margin-bottom: 10px"></textarea></li>
							<li class="dbmgr-form-item-row dbmgr-query-details"><label
								class="dbmgr-form-item-cell-label" style="vertical-align: top;"></label> 
								<button id="historical-explain-btn" class="btn btn-primary fa fa-sitemap"
								style="margin-top:10px;font-family: FontAwesome;"> Explain Plan</button></li>
							
						</ul>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div id="details-container" class="row">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Connection Metrics</div>
				<div class="panel-body">
					<div id="connection-metrics-container" class="table-responsive"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Compile Time Metrics</div>
				<div class="panel-body">
					<div id="compile-metrics-container" class="table-responsive"></div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Run Time Metrics</div>
				<div class="panel-body">
					<div id="runtime-metrics-container" class="table-responsive"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="error-container" class="row">
		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading">Error</div>
				<div class="panel-body">
					<label id="query-detail-error-text" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
</div>
