<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>EsgynDB Manager</title>

<!-- Bootstrap Core CSS -->
<link href="bower_components/bootswatch/flatly/bootstrap.min.css" rel="stylesheet">
<!-- <link href="bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet"> -->

<!-- MetisMenu CSS -->
<link href="bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

<!-- Timeline CSS -->
<link href="bower_components/startbootstrap-sb-admin-2/dist/css/timeline.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="bower_components/morrisjs/morris.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link type="text/css" href="bower_components/jquery-ui/themes/flick/jquery-ui.min.css" rel="stylesheet" />
<link type="text/css" href="css/dbmgr.css" rel="stylesheet" />

</head>

<body>
	<nav class="navbar navbar-default navbar-static-top" role="navigation"
		style="margin-bottom: 0">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<div style="display: inline-flex">
				<!--<img id="title-img" src="img/DBMgr_Logo.png" alt="logo"/>-->
				<a class="navbar-brand dbmgr-title"> EsgynDB Manager</a>
			</div>
		</div>
	</nav>
	<!--<div id="content-container">-->
	<div id="wrapper">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default"
					style="margin-bottom: 150px; margin-left: auto; margin-right: auto; margin-top: 100px; width: 400px;">
					<div class="panel-heading">
						<header id="title-header">
							<h1 style="text-align: center; font-size: 24px;">Login</h1>
						</header>
					</div>
					<div class="panel-body">
						<form id="login-form" role="form" onsubmit="return false">
							<fieldset>
								<div class="form-group">
									<label for="username"><i
										class="glyphicon glyphicon-user"></i> Username</label> 
									<input
										name="username" id="username" class="form-control"
										style="height: 40px; font-size: 18px"
										autofocus>
								</div>
								<div class="form-group">
									<label for="password"><i
										class="glyphicon glyphicon-lock"></i> Password</label> 
									<input
										name="password" id="password" class="form-control"
										type="password" value=""
										style="height: 40px; font-size: 18px">
								</div>
								<!-- Change this to a button or input when using this as a form -->
								<button id="loginBtn" class="btn btn-success btn-block"
									style="font-weight: bold">Login</button>
							</fieldset>
							<label id="login-error-text"
								style="color: red; font-weight: 500; display: none"></label> <img
								id="loadingImg" src="img/ajax-loader.gif"
								style="padding-top: 5px; display: none" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--</div>-->

	<script data-main="js/main" src="bower_components/requirejs/require.js"></script>

</body>
<footer class="footer"
	style="position: absolute; bottom: 40px; width: 100%; height: 60px;">
	<div class="container">
		<a title="EsgynDB Manager" href="/" class="dbmgr-login-footer">EsgynDB
			Manager</a>
		<p class="text-muted" style="text-align: center; margin: 0 auto -1em;">
			&copy Copyright 2016 Esgyn Corporation <br> &copy Copyright 2016
			上海易鲸捷信息技术有限公司
		</p>
	</div>
</footer>

</html>
