<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-toolbar">
					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 15px;">
						<a id="dcsLogs"
							style="height: 24px; margin-right: 4px; cursor: pointer; cursor: hand;">DCS
							Logs</a>
					</div>
					<div class="btn-group" style="margin-bottom: 8px; margin-top: 9px;">
						<label id="timeRangeLabel"
							style="display: inline-block; margin-top: 5px; margin-right: 5px; font-size: 14px; font-weight: normal">Time
							Range</label>
					</div>

					<div class="btn-group" style="margin-right: 5px">
						<label for="refreshInterval"
							style="display: inline-block; margin-top: 5px; font-size: 14px; font-weight: normal">Auto-Refresh</label>
						<select class="form-control" id="refreshInterval"
							style="display: inline-block; width: 110px; font-size: 12px; height: 30px; margin-top: 10px; padding: 2px">
							<option value="0.5">Every 30 sec</option>
							<option value="1">Every 1 min</option>
							<option value="5">Every 5 min</option>
							<option value="10">Every 10 min</option>
							<option id="customTimeRange" value="">OFF</option>
						</select>
					</div>
					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 10px;">
						<button id="openFilter" type="button"
							class="btn btn-default btn-xs fa fa-gear"
							style="height: 30px; margin-right: 4px">Filters</button>
					</div>
					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 10px;">
						<button type="button"
							class="btn btn-default btn-xs dropdown-toggle"
							data-toggle="dropdown" style="height: 30px;">
							Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a id="refreshAction">Refresh</a></li>
						</ul>
					</div>
				</div>
			</div>
			<h2 class="page-header">Logs</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Logs <img id="loadingImg" src="img/ajax-loader.gif" />
				</div>
				<div class="panel-body">
					<div id="query-result-container" class="table-responsive"></div>
					<label id="errorText" class="dbmgr-error-text"></label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="filterDialog" tabindex="-1" role="dialog"
		aria-labelledby="filterDialogLabel" data-backdrop="static"
		data-keyboard="false">
		<div class="modal-dialog" role="document"
			style="overflow: auto; height: 700px">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="filterDialogLabel">Filters</h4>
				</div>
				<div class="modal-body">
					<form id="filter-form">
						<div class="form-group">
							<label for="filter-time-range" class="control-label">Time
								Range : </label> <select class="form-control" id="filter-time-range">
								<option value="1">Last 1 hour</option>
								<option value="6">Last 6 hours</option>
								<option value="24">Last 1 day</option>
								<option value="0">Custom</option>
							</select>
						</div>
						<div class="form-group">
							<label for="filter-start-time" class="control-label">Start
								Time : </label>
							<div class='input-group date' id='startdatetimepicker'>
								<input type='text' class="form-control" id="filter-start-time"
									name="filter-start-time" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="filter-end-time" class="control-label">End
								Time : </label>
							<div class='input-group date' id='enddatetimepicker'>
								<input type='text' class="form-control" id="filter-end-time"
									name="filter-end-time" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Severity : </label> <input
								type="checkbox" id="severity-fatal" value="FATAL"
								style="margin-left: 4px; padding-right: 4px"> Fatal <input
								type="checkbox" id="severity-error" value="ERROR"
								style="margin-left: 4px; padding-right: 4px"> Error <input
								type="checkbox" id="severity-warn" value="WARN"
								style="margin-left: 4px; padding-right: 4px"> Warning <input
								type="checkbox" id="severity-info" value="INFO"
								style="margin-left: 4px; padding-right: 4px">
							Information <input type="checkbox" id="severity-debug"
								value="DEBUG" style="margin-left: 4px; padding-right: 4px">
							Debug
						</div>
						<div class="form-group">
							<label for="filter-component-names" class="control-label">Component
								Name(s) : </label> <input type="checkbox" id="component-mon" value="MON"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Monitor"> MON <input
								type="checkbox" id="component-mxosrvr" value="MXOSRVR"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Master Executor"> MXOSRVR <input
								type="checkbox" id="component-sql" value="SQL"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="SQL"> SQL <input
								type="checkbox" id="component-sql-comp" value="SQL.COMP"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Compiler"> SQL.COMP <input
								type="checkbox" id="component-sql-esp" value="SQL.ESP"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Executor Server Process"> SQL.ESP <input
								type="checkbox" id="component-sql-exe" value="SQL.EXE"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Master Executor SQL"> SQL.EXE <input
								type="checkbox" id="component-sql-lob" value="SQL.LOB"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="SQL Large Objects"> SQL.LOB <input
								type="checkbox" id="component-sql-sscp" value="SQL.SSCP"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Runtime Manageability Service"> SQL.SSCP <input
								type="checkbox" id="component-sql-ssmp" value="SQL.SSMP"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Runtime Manageability Service"> SQL.SSMP <input
								type="checkbox" id="component-sql-udr" value="SQL.UDR"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="User Defined Routines"> SQL.UDR <input
								type="checkbox" id="component-wdg" value="WDG"
								style="margin-left: 4px; padding-right: 4px" data-trigger="focus" data-toggle="tooltip" data-placement="left" title="Watchdog"> WDG
						</div>
						<div class="form-group">
							<label for="filter-process-names" class="control-label">Process
								Name(s) : </label> <input type="text" class="form-control"
								id="filter-process-names" name="filter-process-names"
								style="text-transform: uppercase"
								placeholder="Process names separated by comma">
						</div>
						<div class="form-group">
							<label for="filter-error-codes" class="control-label">Error
								Code(s) : </label> <input type="text" class="form-control"
								id="filter-error-codes" name="filter-error-codes"
								placeholder="Error codes separated by comma">
						</div>
						<div class="form-group">
							<label for="filter-message-text" class="control-label">Message
								: </label> <input type="text" class="form-control"
								id="filter-message-text" name="filter-message-text"
								placeholder="Part of message text">
						</div>
						<div class="form-group">
							<label id="filter-error-text" class="control-label"
								class="dbmgr-error-text"></label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<input id="filterApplyButton" class="submit btn btn-primary"
						type="submit" value="Apply">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
