<div id="page-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="pull-right">
				<div class="btn-toolbar">
					<div class="btn-group"
						style="margin-bottom: 10px; margin-top: 10px;">
						<button type="button"
							class="btn btn-primary btn-xs dropdown-toggle"
							data-toggle="dropdown" style="height: 30px;">
							Actions <span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" role="menu">
							<li><a id="refreshAction">Refresh</a></li>
						</ul>
					</div>
				</div>
			</div>
			<h3 class="page-header">Workload Mappings </h3>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					Available Mappings
				</div>
				<div class="panel-body">
					<div id="wconfig-mappings-container">
				    	<div id="mappings-spinner">Fetching workload mappings...<img style="padding-top: 10px; padding-left: 5px;" src="img/ajax-loader.gif" /></div>
				    	<div id="add-mapping-div">
							<button id="add-mapping-btn" type="button" class="btn btn-primary btn-xs fa fa-plus" style="height: 30px;margin-bottom:10px">
								Add Mapping
							</button>
							<br>
						</div>
						<div id="mappings-result-container" class="table-responsive"></div>
						<textarea id="mappings-error-text" readonly name="mappings-error-text" spellcheck="false" rows="10" readonly class="textarea" style="color:red;font-family: Courier New, Courier, monospace;font-weight:600;width: 95%; margin-bottom: 10px"></textarea>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="mapping-dialog" tabindex="-1" role="dialog"
		aria-labelledby="mapping-dialog-label" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog" role="document" style="oveflow:auto;font-size:13px">
			<div class="modal-content" style="overflow:auto;height:750px;width:850px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="mapping-dialog-label">Add Mapping</h4>
				</div>
				<div class="modal-body">
					<form id="mapping-form">
						<fieldset style="border: 1px solid gray;padding:10px;">
                      	<legend style="font-size:13px;width:auto;margin-bottom: 5px;color: black;font-weight: bold;">Attributes :</legend>
	                        <div class="form-group col-md-12" style="margin-bottom: 5px;">
	                            <label class="control-label">Mapping Name<span
	                                style="color: red"> *</span></label>
	                            <div class="input-group" style="width: 600px;">
	                                <input class="form-control input-sm" style="width: 600px;" id="mapping_name"
	                                    name="mapping_name" maxlength="125"/>
	                            </div>
	                        </div>
                        <div class="form-group col-md-12" style="margin-bottom: 5px;">
							<label for="mapping_sla" class="control-label">SLA</label> 
							<select class="form-control input-sm" id="mapping_sla" style="width: 300px;">

							</select>
						</div>	
						<div class="form-group col-md-6" style="margin-bottom: 5px;">
							<label for="mapping_state" class="control-label">State</label> 
							<select class="form-control input-sm" id="mapping_state" style="width: 300px;">
								<option value="yes">Active</option>
								<option value="no">Inactive</option>
							</select>
						</div>						
                        <div class="form-group col-md-6" style="margin-bottom: 5px;">
                            <label class="control-label">Order Number<span
                                style="color: red"> *</span></label>
                            <div class="input-group" style="width: 400px;">
                                <input class="form-control input-sm" style="width: 300px;" id="mapping_seq_no"
								placeholder="Enter a order number for searching mappings ..."
                                    name="mapping_seq_no" maxlength="125"/>
                            </div>
                        </div>	                        
                        </fieldset>
                        <fieldset style="border: 1px solid gray;margin-top:10px;padding:10px">
                        	<legend style="font-size:13px;width:auto;margin-bottom: 5px;color: black;font-weight: bold;">Mapping Criteria :</legend>
	                        <div class="form-group col-md-6">
	                            <label class="control-label">User Name<span
	                                style="color: red"> *</span></label>
	                            <div class="input-group" style="width: 400px;">
	                                <input class="form-control input-sm" style="width: 300px;" id="mapping_user"
									placeholder="Enter a User Name to match..."
	                                    name="mapping_user" maxlength="125"/>
	                            </div>
	                        </div>
	                         <div class="form-group col-md-6">
	                            <label class="control-label">Application Name<span
	                                style="color: red"> *</span></label>
	                            <div class="input-group" style="width: 400px;">
	                                <input class="form-control input-sm" style="width: 300px;" id="mapping_application"
									placeholder="Enter the application name to match..."
	                                    name="mapping_application" maxlength="125"/>
	                            </div>
	                        </div>
	                         <div class="form-group col-md-6">
	                            <label class="control-label">Role Name<span
	                                style="color: red"> *</span></label>
	                            <div class="input-group" style="width: 400px;">
	                                <input class="form-control input-sm" style="width: 300px;" id="mapping_role"
									placeholder="Enter the user's role name to match..."
	                                    name="mapping_role" maxlength="125"/>
	                            </div>
	                        </div>
	                        <div class="form-group col-md-6">
	                            <label class="control-label">Session Name<span
	                                style="color: red"> *</span></label>
	                            <div class="input-group" style="width: 400px;">
	                                <input class="form-control input-sm" style="width: 300px;" id="mapping_session"
									placeholder="Enter a session name to match..."
	                                    name="mapping_session" maxlength="125"/>
	                            </div>
	                        </div>
	                        <div class="form-group col-md-6">
	                            <label class="control-label">Client IP Address<span
	                                style="color: red"> *</span></label>
	                            <div class="input-group" style="width: 400px;">
	                                <input class="form-control input-sm" style="width: 300px;" id="mapping_client_ip"
									placeholder="Enter a client IP address to match..."
	                                    name="mapping_client_ip" maxlength="125"/>
	                            </div>
	                        </div>                        
	                        <div class="form-group col-md-6">
	                            <label class="control-label">Client Host Name<span
	                                style="color: red"> *</span></label>
	                            <div class="input-group" style="width: 400px;">
	                                <input class="form-control input-sm" style="width: 300px;" id="mapping_client_host"
									placeholder="Enter a client host name to match..."
	                                    name="mapping_client_host" maxlength="125"/>
	                            </div>
	                        </div>  
 						</fieldset>
                        <div class="form-group col-md-12">
                        	<label id="add-mapping-error-message" style="font-family:Courier New, Courier, monospace;font-weight:600;width: 95%; margin-bottom: 10px;color:red;"></label>
                        </div>
      				</form>
				</div>
				<div class="modal-footer col-md-12" style="overflow:hidden">
					<img id="mapping-dialog-spinner" style="padding-right: 5px;" src="img/ajax-loader.gif" />
					<input id="mappingApplyButton" class="btn btn-primary"
						type="submit" value="Apply">
					<input id="mappingResetButton" class="btn btn-primary"
						type="submit" value="Reset">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="mapping-delete-dialog" tabindex="-1" role="dialog"
		aria-labelledby="mapping-delete-dialog-label" data-backdrop="static"
		data-keyboard="false">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="mapping-delete-dialog-label">Confirm Delete Mapping</h4>
				</div>
				<div class="modal-body">
					<form id="mapping-delete-form">
                    Are you sure you want to delete the mapping <label id="delete-mapping-name"></label>  ? 
					</form>
				</div>
				<div class="modal-footer">
					<button id="delete-mapping-yes-btn" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>	
</div>
