/* @@@ START COPYRIGHT @@@
* 
*  (C) Copyright 2015 Esgyn Corporation
*
*  @@@ END COPYRIGHT @@@
*/

.dbmgr-tools-form {
	padding-left: 30px;
	padding-top: 30px;
}

.dbmgr-tools-form label {
	width: 150px;
}

.dbmgr-tools-form .file {
    position: relative;
    display: inline-block;
    background-image:url(../img/glass.png);
    height:26px;
    width:20px;
    border: 1px solid black;
    overflow: hidden;
}
.dbmgr-tools-form .file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.dbmgr-tools-form .file:hover {

}

#page-wrapper {
	margin: 2px;
}

.panel-heading span {
	margin-top: 0px;
	font-size: 15px;
}

.dbmgr-collapsible {
	cursor: pointer;
}

.dbmgr-login-footer {
	background: url(../img/esgyn-logo.png) no-repeat;
	background-size: cover;
	display: block;
	width: 200px;
	height: 48px;
	text-indent: -9000px;
	margin: 0 auto;
}

#dbmgr-page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}

.dbmgr-fieldset-table {
	display: table
}

.dbmgr-text-ellipsis {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dbmgr-nowrap {
	white-space: nowrap;
}

.dbmgr-form-item-row {
	display: table-row;
	margin-bottom: 10px;
}

.dbmgr-form-item-cell-label {
	display: table-cell;
	padding-right: 10px;
	margin-bottom: 10px;
}

.dbmgr-button, .dbmgr-link-button {
	padding: 7px 10px !important;
}

.dbmgr-form-workload-cell-label {
	display: table-cell;
	padding-right: 10px;
	width: 200px;
	margin-bottom: 0px;
	font-weight: 55;
}

.nav>li {
	display: inline-block;
}

.dbmgr-hover {
	cursor: pointer;
	cursor: hand;
}

@media ( min-width :768px) {
	/*.navbar-default {
		background-color: steelblue;
	}
	.navbar-default .sidebar-nav {
		border-color: #e7e7e7;
	}*/
	.page-header {
		margin-top: 10px;
		padding-bottom: 5px;
	}
	/*.navbar-default .navbar-brand:hover {
		color: white;
	}*/
	.CodeMirror pre {
		padding: 0 4px; /* Horizontal padding of content */
		padding-left: 30px;
		/*font-family: Courier New, Courier, monospace;*/
	}

	.navbar-default .dbmgr-title {
		display: inline-block;
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size: 24px;
		padding-left: 10px;
		/*padding-top: 18px;*/
		/*color: white;*/
	}
	#dbmgr-page-wrapper {
		position: inherit;
		/*margin: 0 0 0 250px;*/
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
	.dbmgr-error-text {
		color: red;
		height: 120px;
		overflow: auto;
		font-weight: 500;
	}
	.dbmgr-graph {
		min-height: 125px;
	}
	.dbmgr-drilldown-graph {
		min-height: 400px;
	}
	/*	.navbar-default .navbar-nav>li>a {
		color: white;
	}
	.nav>li>a:hover, .nav>li>a:focus {
		color: black;
	}
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
		{
		color: black;
		background-color: #e7e7e7;
	}
	.nav>li>a {
		color: white;
	}
	.dbmgr-nav>li>a {
		color: black;
		background-color: #e7e7e7;
	}*/
	.mytooltip {
		color: black;
		width: 150px;
		background-color: aliceblue;
		border: 1px solid #ccc;
		-moz-box-shadow: #555 2px 2px 8px;
		-webkit-box-shadow: #555 2px 2px 8px;
		-o-box-shadow: #555 2px 2px 8px;
		box-shadow: #555 2px 2px 8px;
		font-size: 12px;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		padding: 7px;
	}
	#title-img {
		display: block;
		height: 40px;
		margin-left: auto;
		margin-right: auto;
		vertical-align: bottom;
	}
	.dbmgr-table {
		font-size: 13px !important;
		width:100% !important;
	}
	.dbmgr-table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
		.table>thead>tr>td, .table>thead>tr>th {
		padding: 4px;
	}
	.dbmgr-status-btn {
		width: 24px;
		height: 24px;
		padding: 6px 0;
		border-radius: 12px;
		text-align: center;
		font-size: 10px;
		overflow: hidden !important;
	}
	table.dbmgr-dashboard-table tbody tr td {
		white-space: nowrap;
		padding-left: 8px;
		padding-bottom: 2px;
		padding-top: 2px;
		vertical-align: middle;
	}
	table.display thead th div.DataTables_sort_wrapper {
		position: relative;
		padding-right: 20px;
		font-weight: bold;
		color: #000000;
	}
	table.display thead th div.DataTables_sort_wrapper span {
		position: absolute;
		top: 50%;
		margin-top: -8px;
		right: 0;
	}
	.ui-icon {
		display: block;
		text-indent: -99999px;
		overflow: hidden;
		background-repeat: no-repeat;
	}
	tr.odd {
		background-color: rgb(249, 249, 249)
	}
	.table>thead>tr>th {
		vertical-align: top;
	}
	table.display td {
		padding: 3px 10px !important;
	}
	.dataTables_length {
		width: 40%;
		float: left;
	}
	.dataTables_info {
		width: 200px;
		float: left;
	}
	.dataTables_paginate {
		float: right;
		text-align: right;
	}
	table.dataTable thead .sorting_asc {
		background: none
	}
	table.dataTable thead .sorting_desc {
		background: none
	}
	table.dataTable thead .sorting {
		background: none
	}
	table.dataTable thead .sorting:after {
		content: none;
	}
	li {
		cursor: pointer;
		cursor: hand;
	}
}