#dbmgr-page-wrapper {
	padding: 0 15px;
	min-height: 568px;
	background-color: #fff;
}
.dbmgr-fieldset-table {
	display: table
}

.dbmgr-form-item-row {
	display: table-row;
	margin-bottom:10px;
}

.dbmgr-form-item-cell-label {
	display: table-cell;
	padding-right:10px;	
	margin-bottom: 10px;
}

@media ( min-width :768px) {
	.navbar-default {
		background-color: #337ab7;
	}
	.navbar-default .sidebar-nav {
		/*background-color:rgb(94,115,149);*/
		/*background-color:#01596e;*/
		/*background-color:#337ab7;*/
		border-color: #e7e7e7;
	}
	.navbar-default .dbmgr-title {
		display: inline-block;
		font-size: 24px;
		padding-left: 10px;
		/*padding-top: 18px;*/
		color: white;
	}
	#dbmgr-page-wrapper {
		position: inherit;
		margin: 0 0 0 250px;
		padding: 0 30px;
		border-left: 1px solid #e7e7e7;
	}
	.nav>li>a:hover, .nav>li>a:focus {
		color: black;
	}
	.nav>li>a {
		color: white;
	}
	.mytooltip {
		color: black;
		width: 139px;
		background-color:aliceblue;
		border: 1px solid #ccc;
		-moz-box-shadow: #555 2px 2px 8px;
		-webkit-box-shadow: #555 2px 2px 8px;
		-o-box-shadow: #555 2px 2px 8px;
		box-shadow: #555 2px 2px 8px;
		font-size: 12px;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		padding: 7px;
	}
	#title-img {
		display: inline;
		width: 48px;
		height: 40px;
		margin-left: 10px;
		margin-right: 1px;
		margin-top: 10px;
		vertical-align: bottom;
	}
	.dbmgr-table {
		font-size: 13px !important
	}
	table.display thead th div.DataTables_sort_wrapper {
		position: relative;
		padding-right: 20px;
		font-weight: bold;
		color: #000000;
	}
	table.display thead th div.DataTables_sort_wrapper span {
		position: absolute;
		top: 50%;
		margin-top: -8px;
		right: 0;
	}
	.ui-icon {
		display: block;
		text-indent: -99999px;
		overflow: hidden;
		background-repeat: no-repeat;
	}
	tr.odd {
		background-color: rgb(249, 249, 249)
	}
	
	.table>thead>tr>th {
		vertical-align:top;
	}
	
	table.display td {
		padding: 3px 10px !important;
	}
	.dataTables_length {
		width: 40%;
		float: left;
	}
	.dataTables_info {
		width: 200px;
		float: left;
	}
	.dataTables_paginate {
		float: right;
		text-align: right;
	}
	table.dataTable thead .sorting_asc {
		background: none
	}
	table.dataTable thead .sorting_desc {
		background: none
	}
	table.dataTable thead .sorting {
		background: none
	}
	table.dataTable thead .sorting:after {
		content:none;
	}	
}