<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<!-- @@@ START COPYRIGHT @@@
 
     (C) Copyright 2015 Esgyn Corporation
 
     @@@ END COPYRIGHT @@@
-->

<properties>

	<!-- The JDBC url for the Trafodion/EsgynDB instance that you are connecting to -->
	<entry key="jdbcUrl">jdbc:t4jdbc://192.168.1.7:23400/:</entry>
	
	<!-- The JDBC driver class name for the Trafodion/EsgynDB JDBC driver -->
	<entry key="jdbcDriverClass">org.trafodion.jdbc.t4.T4Driver</entry>
	
	<!-- The Trafodion REST Server URI -->
	<entry key="trafodionRestServerUri">192.168.1.7:4200</entry>

	<!-- The EsgynDB DCS Master Info URI -->
	<entry key="dcsMasterInfoUri">http://192.168.1.7:24400</entry>
	
	<!-- Session Timeout in minutes. Your EsgynDB Manager browser session to the server will be 
		timed out after this interval and you will be asked to login again -->
	<entry key="sessionTimeoutMinutes">120</entry>

	<!-- The following properties are only required and used by the embedded jetty server -->
	
	<!-- The HTTP Port for the EsgynDB Manager embedded jetty server -->
	<entry key="httpPort">4205</entry>

	<!-- The HTTPS Port for the EsgynDB Manager embedded jetty server -->
	<entry key="httpsPort">4206</entry>

	<!-- The SSL keystore password for the EsgynDB Manager embedded jetty server -->
	<entry key="securePassword">esgyndbmgr</entry>

	<!-- The HTTP request header size for the EsgynDB Manager embedded jetty server -->
	<entry key="requestHeaderSize">98304</entry>

	<!-- The TimeZone name of the EsgynDB server. Enter in java time zone format like America/New_York -->
	<entry key="timeZoneName">Etc/UTC</entry>
	
	<!-- The openTSDB HTTP URI-->
	<entry key="openTSDBUri">192.168.1.7:5242</entry>

	<!-- Enable/disable alerts feature -->
	<entry key="enableAlerts">true</entry>
	
	<!-- The Alerts HTTP URI-->
	<entry key="alertsUri">192.168.1.7:8070</entry>
	
</properties>
