<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="httpPort">8080</entry>
	<entry key="httpsPort">8443</entry>
	<entry key="securePassword">esgyndbmgr</entry>
	<entry key="requestHeaderSize">98304</entry>
	<entry key="jdbcUrl">jdbc:t4jdbc://10.1.10.101:12172/:</entry>
	<entry key="jdbcDriverClass">org.trafodion.jdbc.t4.T4Driver</entry>
	<entry key="trafRestServerUri">10.1.10.101:14183</entry>
	<entry key="openTSDBUri">10.1.10.101:14580</entry>
	<entry key="sessionTimeoutMinutes">120</entry>
</properties>