<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- General Settings-->
    <add key="ConnectionStringName" value="SQWS118" />
    <add key="EsgynDBTraceLevel" value="Verbose" />
    <add key="EsgynDBTraceFile" value="C:\qa_odbc_tests\src\ADO.NET\HPAdoTest\bin\Debug\adolog.txt" />
    <add key="EsgynDBTraceConsole" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CreateDB" value="true"/>
    <add key="HostName" value="sqws118.houston.hp.com:42972" />
  </appSettings>
  <connectionStrings>
    <add name="SQWS118" connectionString="server=sqws118.houston.hp.com:42972;user=zz;password=zz;schema=ado;" />    
</connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
